@import url('~/shared/sidedrawer.css');

Page {
    background-color: #108858;
    background-image:url("res://roll_bottom");
    background-repeat: repeat-x;
    background-position: center bottom;
}

.profilePic {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border-width: 4px;
    border-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;

    opacity: 0;
    transform:scale(0);
    animation-name: profilePic-anim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-timing-function: ease-in;
}

.profilePic-shadow {
    opacity: 0;
    transform:scale(0);
    animation-name: profilePic-shadow-anim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-timing-function: ease-in;
}

@keyframes profilePic-anim {
    0% { opacity: 0; transform:scale(0); }
    95% { opacity: 1; transform: scale(1.1); }
    100% { opacity: 1; transform: scale (1); }
}

@keyframes profilePic-shadow-anim {
    0% { opacity: 0; transform:scale(0); }
    95% { opacity: 0.3; transform: scale(1.1); }
    100% { opacity: 0.3; transform: scale (1); }
}

.mainContainer {
    transform:translate(0,0);
    animation-name: mainContainer-anim;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-timing-function: ease-in;

<<<<<<< HEAD
    margin-top: -40px;
=======
    margin-top: -25px;
>>>>>>> dev
}

@keyframes mainContainer-anim {
    0% { opacity: 0; transform:translate(0,50); }
    100% { opacity: 1; transform:translate(0,0); }
}

.action-image {
    width: 40;
    height: 40;
    vertical-align: center;
}

.dashboard-username {
    color:white;
    font-size: 24px;
}

.dashboard-scoremeta {
    font-size: 12px;
    text-transform: uppercase;
    margin: 4px;
    color: #000;
    opacity: 0.5;
    margin-top:5px;
}

.dashboard-scorevalue {
    color: #fff;
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 12px;
    margin: 4px;
    font-family: "Roboto-Medium";
}
