@import url('~/shared/sidedrawer.css');

Page {
    background-color: #108858;
    /*background-image:url("res://roll_bottom");
    background-repeat: repeat-x;
    background-position: center bottom;*/
    background-image:url("res://bg_photo_2");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.profilePic {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border-width: 4px;
    border-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;

    opacity: 0;
    transform:scale(0);
    animation-name: profilePic-anim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-timing-function: ease-in;
}

.profilePic-shadow {
    opacity: 0;
    transform:scale(0);
    animation-name: profilePic-shadow-anim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-timing-function: ease-in;
}

@keyframes profilePic-anim {
    0% { opacity: 0; transform:scale(0); }
    95% { opacity: 1; transform: scale(1.1); }
    100% { opacity: 1; transform: scale (1); }
}

@keyframes profilePic-shadow-anim {
    0% { opacity: 0; transform:scale(0); }
    95% { opacity: 0.3; transform: scale(1.1); }
    100% { opacity: 0.3; transform: scale (1); }
}

.mainContainer {
    transform:translate(0,0);
    animation-name: mainContainer-anim;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-timing-function: ease-in;
    padding-top:15;
}

@keyframes mainContainer-anim {
    0% { opacity: 0; transform:translate(0,50); }
    100% { opacity: 1; transform:translate(0,0); }
}

.admob-spacer {
    height: 50;
}

.action-image {
    width: 40;
    height: 40;
    vertical-align: center;
}

.dashboard-username {
    color:white;
    font-size: 24px;
    text-align: center;
}

.dashboard-scoremeta {
    font-size: 12px;
    text-transform: uppercase;
    margin: 4px;
    color: #fff;
    opacity: 0.3;
}

.dashboard-scorevalue {
    color: #fff;
    opacity: 0.6;
    text-transform: uppercase;
    font-size: 12px;
    margin: 4px;
}

.action-bar {
    /*margin-top:24;*/
    height: 50;
    background-color: rgba(255,255,255,0.7);
    border-width: 0 0 1 0;
    border-color: #300a3c;
    z-index:10;
}

.action-icon-left {
    width: 20;
    height: 20;
    margin: 15;
}

.list-groups {
    background-color:white;
    border-radius: 2px;
    margin: 10;
    border-width: 0 0 2 0;
    font-size: 12;
    border-color: #108858;
}

.list-groups-title {
    font-size: 16;
    padding: 10;
    text-transform: uppercase;
    text-align: right;
    font-family: "Roboto-Bold";
    color: #108858;

    background-color: #108858;
    color: white;
    border-width: 2 0 0 0;
    border-color:white;
}

.list-groups-label {
    padding: 10;
    margin: 0;
}

.list-groups-buttons {
    margin: 0 10 0 10;
    border: 1 0 0 0;
    border-color: rgba(0,0,0,0.2);
}

.list-groups-button-start {
    font-size: 12;
    font-family: "Roboto-Medium";
    color:white;
    background-color: #300a3c;
}

.list-groups-button-start:active {
    color: #300a3c;
    background-color: white;
}

.list-groups-button-join {
    font-size: 12;
    font-family: "Roboto-Medium";
    color:white;
    background-color:#108858;
}

.list-groups-button-join:active {
    color: #108858;
    background-color: white;
}

.list-groups-item-icon {
    width: 20;
    height: 20;
    opacity: 0.5;
    margin: 0 -5 0 5;
}

.list-groups-item-label.inactive {
    opacity: 0.25;
}
