/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/

Page {
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Roboto-Light";
}

.btn {
    font-size: 18;
}

.boldFont {
    font-family: "Gravity-Bold";
    text-transform: uppercase;
}

.action-label {
    color: #108858;
    font-size: 18;
    text-transform:uppercase;
    font-weight: bold;
    vertical-align: center;
    font-family: "Roboto-Medium";
    text-align: center;
}

.action-bar {
    /*margin-top:24;*/
    height: 50;
    background-color: #fff;
    border-width: 0 0 1 0;
    border-color: #300a3c;
    z-index:10;
}

.action-icon-left {
    width: 20;
    height: 20;
    margin: 15;
}

.list-groups {
    background-color:white;
    border-radius: 2px;
    margin: 10;
    border-width: 0 0 2 0;
    font-size: 12;
    border-color: #108858;

    transform:scale(0);
    transform:translate(0,0);
    opacity: 0;
    animation-name: list-groups-anim;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-timing-function: ease-in;
}

@keyframes list-groups-anim {
    0% { opacity: 0; margin-top: 20; transform: scale(0); transform:translate(0,20); }
    60% { opacity: 0; }
    100% { opacity: 1; margin-top: 10; transform: scale(1); transform:translate(0,0); }
}

.list-groups-title {
    font-size: 16;
    padding: 10;
    text-transform: uppercase;
    text-align: right;
    font-family: "Roboto-Bold";
    color: #108858;

    background-color: #108858;
    color: white;
    border-width: 2 0 0 0;
    border-color:white;
}

.list-groups-label {
    padding: 10;
    margin: 0;
}

.list-groups-buttons {
    margin: 0 10 0 10;
    border-color: rgba(0,0,0,0.2);
}

.fa {
    font-family: "FontAwesome", "fontawesome-webfont";
}

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';
