@import url('~/shared/sidedrawer.css');

Page {
    background-color: #108858;
    background-image:url("res://bg_photo_2");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.action-bar {
    height: auto;
}

.action-meta {
    text-align: center;
    font-size: 10;
    text-transform: uppercase;
    color: #999;
    padding: 5 0;
    border-width: 1 0 0 0;
    border-color: #eee;
    font-style: italic;
}

.group-meta-active {
    margin: 10 10 0 10;
    padding: 0;
    background-color: #300a3c;
    color: white;
    text-transform: uppercase;
    border-radius: 2;
    border-width: 2 0 0 0;
    border-color: white;

    opacity: 0;
    transform: scale(0);
    animation-name: group-meta-anim;
    animation-duration: 0.3;
    animation-fill-mode: forwards;
}

@keyframes group-meta-anim {
    0% { opacity: 0; transform:scale(0); }
    75% { opacity: 1; transform:scale(1.1); }
    100% { opacity: 1; transform:scale(1); }
}

.group-meta-active-gw-label {
    text-transform: uppercase;
    font-size: 10;
    text-align: center;
    padding: 10 10 0 10;
    border-width: 0 1 0 0;
    border-color: rgba(255,255,255,0.2);
    color: rgba(255,255,255,0.6);

}

.group-meta-active-gw-number {
    font-size: 24;
    text-align: center;
    padding: 0 0 10 0;
    font-family: 'Roboto-Black';
    border-width: 0 1 0 0;
    border-color: rgba(255,255,255,0.2);
}

.group-meta-active-team-label {
    text-transform: uppercase;
    font-size: 10;
    text-align: right;
    color: rgba(255,255,255,0.6);
    padding: 10 10 0 10;
}

.group-meta-active-team-name {
    text-align: right;
    padding: 4 10 0 10;
    text-transform: uppercase;
    font-size: 16;
    font-family: 'Roboto-Bold';
}

.group-meta-active-team-decide {
    text-align: right;
    font-size: 16;
    padding: 4 10 0 10;
}

/* Group Activate */

.group-activate {
    padding: 10 0 10 0;
    font-size: 12;

    opacity:0;
    background-color: #333;
    animation-name: group-activate-anim;
    animation-duration:0.4;
    animation-fill-mode: forwards;
}

@keyframes group-activate-anim {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.group-activate-field {
    padding: 15 10;
    text-align: right;
    color: rgba(255,255,255,0.4);
    text-transform: uppercase;
    font-size: 10;
}

.group-activate-field-text {
    margin: 5 10;
    padding: 5 0 5 5;
}

.group-activate-field-switch {
    horizontal-align: center;
    background-color: #fff;
    color: #108858;
}

.centered {
    text-align: center;
}

.bold {
    font-family: "Roboto-Black";
}



/* Group Meta Inactive */

.group-meta-inactive {
    margin: 10 10 0 10;
    padding: 10 0 0 0;
    background-color: #333;
    color: white;
    text-transform: uppercase;
    border-radius: 2;
    border-width: 2 0 0 0;
    border-color: white;

    opacity: 0;
    transform: scale(0);
    animation-name: group-meta-anim;
    animation-duration: 0.3;
    animation-delay: 0.2;
    animation-fill-mode: forwards;
}

.group-meta-inactive-activate {
    padding: 10;
    border-radius: 2;
    font-size: 18;
    font-family: 'Roboto-Black';
    text-align: center;
    background-color: #300a3c;
    text-transform: uppercase;
    border-width: 2 0 0 0;
    border-color: white;
}

.group-meta-inactive-gw-label {
    text-transform: uppercase;
    font-size: 10;
    text-align: center;
    padding: 0 10 0 10;
    margin: 0 10 0 0;
    border-width: 0 1 0 0;
    border-color: rgba(255,255,255,0.2);
    color: rgba(255,255,255,0.6);
}

.group-meta-inactive-gw-number {
    font-size: 24;
    text-align: center;
    font-family: 'Roboto-Black';
    padding: 0 10 0 0;
    margin: 0 10 10 10;
    border-width: 0 1 0 0;
    border-color: rgba(255,255,255,0.2);
    vertical-align: center;
}

.group-meta-inactive-team-label {
    text-transform: uppercase;
    font-size: 10;
    text-align: right;
    padding: 0 10 10 0;
    color: rgba(255,255,255,0.6);
}

.group-meta-inactive-team-name {
    text-align: right;
    padding: 0 10 10 0;
    text-transform: uppercase;
    vertical-align: center;
    font-size: 18;
    font-family: 'Roboto-Black';
}

/* End Group Meta */

.main-container {
    background-color: white;
    border-radius: 2;
    font-size: 14;
}

.list-groups-animated {
    background-color:white;
    border-radius: 2px;
    margin: 10;
    border-width: 0 0 2 0;
    font-size: 12;
    border-color: #108858;

    opacity: 0;
    transform: scale(0);
    animation-name: list-groups-animated-anim;
    animation-duration: 0.3;
    animation-delay: 0.7;
    animation-fill-mode: forwards;
}

@keyframes list-groups-animated-anim {
    0% { opacity: 0; transform: scale(0); }
    75% { opacity: 1; transform: scale(1.1); }
    100% { opacity: 1; transform: scale(1); }
}

.list-groups-item {
    /*padding: 10;*/
}

.list-groups-item-icon {
    width: 20;
    height: 20;
    opacity: 0.5;
    margin: 10 5 10 10;
}

.list-groups-label {
    /*padding: 12 0 10 10;*/
    vertical-align: middle;
}

.list-clubs {
    margin: 0;
    background-color: white;
    /*border-radius: 2;
    border-width: 2 0 0 0;
    border-color: #108858;*/
}

.list-clubs-label {
    color: #333;
    padding: 5 7;
    font-size: 10;
}

.list-clubs-vs {
    color: #777;
    font-size: 4;
    padding: 0 3 0 0;
    text-transform: uppercase;
    vertical-align: middle;
}

.list-clubs-opp {
    color: #777;
    font-size: 8;
    text-transform: uppercase;
    vertical-align: middle;
}

.list-matches-toggle {
    color: #108858;
    margin: 10 10 0 10;
    background-color: white;
    border-radius: 2 2 0 0;
    border-width: 2 0 0 0;
    border-color: #108858;
    padding: 10;

    opacity: 0;
    transform: scale(0);
    animation-name: group-meta-anim;
    animation-duration: 0.3;
    animation-delay: 0.4;
    animation-fill-mode: forwards;
}

.list-matches-toggle-icon{
    font-family: FontAwesome, fontawesome-webfont;
    text-align: right;
    padding: 0 10;
    vertical-align: middle;
}

.list-matches-toggle-label{
    font-size: 16;
    text-transform: uppercase;
    text-align: right;
    font-family: "Roboto-Bold";
}


.list-matches-toggle-baseline{
    border-radius: 0 0 2 2;
    height: 2;
    background-color: white;
    border-color: #108858;
    border-width: 0 0 2 0;
    margin: 0 10;

    opacity: 0;
    animation-name: list-matches-toggle-baseline-anim;
    animation-duration: 0.3;
    animation-delay: 0.7;
    animation-fill-mode: forwards;
}

@keyframes list-matches-toggle-baseline-anim {
    from { opacity: 0; }
    to { opacity: 1; }
}

.list-matches {
    background-color: white;
    margin: 0 10 0 10;
}

.list-matches-ko {
    /*font-size: 14;
    padding: 5 7;
    text-transform: uppercase;
    text-align: left;
    font-family: "Roboto-Bold";
    background-color: #108858;
    color: white;
    width: 100%;*/
    background-color: #108858;
    color: white;
    text-align: left;
}

.list-matches-ko-date {
    font-size: 10;
    vertical-align: center;
    padding: 0 5;
    text-align: right;
    text-transform: uppercase;
}

.list-matches-ko-time {
    font-size: 14;
    vertical-align: center;
    font-family: 'Roboto-Black';
    padding: 0 5;
    text-align: right;
}

.list-matches-item {
}

.list-matches-item-label-home {
    padding: 5 7;
    font-size: 10;
}

.list-matches-item-label-homes {
    padding: 5 7;
    text-align: right;
    font-size: 10;
}

.list-matches-item-label-vs {
    padding: 5 7;
    text-align: center;
    font-size: 10;
}

.list-matches-item-label-aways {
    padding: 5 7;
    text-align: left;
    font-size: 10;
}

.list-matches-item-label-away {
    padding: 5 7;
    text-align: right;
    font-size: 10;
}


.group-msg {
    text-align: center;
    border-width: 0 0 1 0;
    border-color: white;
    font-size: 10;
    padding: 7 5;

    opacity: 0;
    transform:translateY(0);
    animation-name: group-msg-anim;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes group-msg-anim {
    0% { opacity: 0; transform:translateY(-40); }
    60% { opacity: 1; transform:translateY(-20); }
    100% { opacity: 1; transform:translateY(0); }
}

.msg-active {
    color: white;
    background-color: #108858;
}

.msg-inactive {
    color: #ccc;
    background-color: #555;
}

.list-groups-item-icon {
    width: 20;
    height: 20;
    opacity: 0.5;
    margin: 0 -5 0 5;
}

.list-groups-selection-name {
    margin: 12 5 12 3;
    border-radius: 2;
    border-width: 1;
    border-color: rgba(0,0,0,0.2);
    padding: 2 4;
    opacity:0.8;
    font-family: "Roboto-Black";
    font-size: 8;
    background-color: #300a3c;
    color: white;
    text-transform: uppercase;
}

.list-groups-selection-unchosen {
    margin: 12 5 12 3;
    border-radius: 2;
    border-width: 1;
    border-color: rgba(0,0,0,0.2);
    padding: 2 4;
    opacity:0.8;
    font-family: "Roboto-Black";
    font-size: 8;
    background-color: rgba(0,0,0,0.6);
    color: white;
    text-transform: uppercase;
}

.admob-spacer {
    height: 50;
}
