Page {
    background-color: #108858;
}

.page {
    margin: 10px;
    background-color: #108858;
    text-align: center;
}

#pageTitle {
    font-family: "Gravity-Bold";
    text-transform: uppercase;
    color: white;
    font-size: 24px;
}

#pageDesc {
    font-family: "Gravity-Light";
    color: white;
}
